body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.user-detail-avatar {
  background-color: rgb(168, 168, 228);
  border-radius: 50%;
  padding: 10px;
}
.user-detail-avatar:hover {
  cursor: pointer;
}
.signout-popup {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto !important;
  font-family: cursive;
}
.signout-btn {
  background-color: rgb(168, 168, 228) !important;
  padding: 15px;
  border: 0 transparent;
  outline: none;
  border-radius: 5px;
  color: white !important;
  font-weight: 600;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}
.ant-popover {
  pointer-events: visible !important;
}
/* .ant-popover-hidden {
  display: none;
} */
.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blueviolet;
}
